<?xml version='1.0' encoding='utf-8'?>
<Configuration>
  <Database>
    <!--  <ConnectionString>Data Source=172.16.3.171;Initial Catalog=katekero_db;User ID=sa;Password=Sapassword1;TrustServerCertificate=true</ConnectionString>-->
	<ConnectionString>Data Source=192.168.140.128;Initial Catalog=katekero_db;User ID=sa;Password=Sapassword1;TrustServerCertificate=true</ConnectionString>

  </Database>
  <Output>
    <Folder>./output/</Folder>
  </Output>
</Configuration>

